body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

.form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #212529;
}

.form input, .form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    outline: none;
    margin-bottom: 15px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.form textarea {
    height: 120px;
    resize: none;
}

.form input:focus, .form textarea:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

/* Centering the button */
.button-container {
    text-align: center;
}

.form button {
    width: 70%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #0056b3;
}
